<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}" User list></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container" style="margin-top: 10rem">
        <button onclick="remove()" type="button" class="btn btn-danger">Delete</button>
        <button onclick="block()" type="button" class="btn btn-primary">Block</button>
        <button onclick="unblock()" type="button" class="btn btn-success">Unblock</button>
    </div>
    <table id="usersList" class="table" style="margin-top: 2rem">
        <thead class="thead-light">
        <tr>
            <th><input type="checkbox" id="select-all"/></th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Last login date</th>
            <th>Registration date</th>
            <th>Status</th>
        </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    let checked = [];
    let isLoading = false;

    document.getElementById('select-all').onclick = function() {
        let checkboxes = document.getElementsByName('user');
        for (let checkbox of checkboxes) {
            this.checked && !checkbox.checked
                ? checked.push(Number(checkbox.parentElement.parentElement.children[1].childNodes[0].nodeValue))
                : checked = []
            checkbox.checked = this.checked;
        }
    }

    function remove(e) {
        if (isLoading) return
        isLoading = true
        fetch("users/delete", { method: 'DELETE', body: JSON.stringify(checked), headers: { "Content-Type": "application/json" }})
            .then(data => {
                checked = []
                document.location.reload();
            })
            .finally(() => isLoading = false)
    }

    function block(e) {
        if (isLoading) return
        isLoading = true
        fetch("users/block", { method: 'PUT', body: JSON.stringify(checked), headers: { "Content-Type": "application/json" }})
            .then(data => {
                checked = []
                document.location.reload();
            })
            .finally(() => isLoading = false)
    }


    function unblock(e) {
        if (isLoading) return
        isLoading = true
        fetch("users/unblock", { method: 'PUT', body: JSON.stringify(checked), headers: { "Content-Type": "application/json" }})
            .then(data => {
                checked = []
                document.location.reload();
            })
            .finally(() => isLoading = false)
    }

    function toggle(e) {
        let value = parseInt(e.parentElement.parentElement.children[1].childNodes[0].nodeValue, 10)
        if(!e.checked) {
            document.getElementById('select-all').checked = false
            checked = checked.filter(el => el !== value)
        } else {
            checked.push(value)
        }
    }

    function getUsers() {
        fetch("users")
            .then(data => data.json())
            .then(data => {
                data.forEach(element => {
                    if (!element.lastLoginDate) {
                        element.lastLoginDate = "never logged in"
                    }
                    const row = `<tr class="table-row">
                                <td><input type="checkbox" name="user" onclick="toggle(this)"/></td>
                                <td>${element.id}</td>
                                <td>${element.name}</td>
                                <td>${element.mail}</td>
                                <td>${element.lastLoginDate}</td>
                                <td>${element.regDate}</td>
                                <td>${element.status}</td>
                            </tr>`
                    document.getElementById("usersList").insertAdjacentHTML("beforeend", row)
                })
            })
    }

    document.addEventListener("DOMContentLoaded", getUsers);
</script>
</body>
</html>
